# Python Basics

In this first section we give an introduction how to use python to program work flow with some focus on how to do this is the context of jupyter notebook. It is not the intention to give a course on how to develop python program packages. For this jupyter notebook would not be the right tool and tools such as [spyder](https://www.spyder-ide.org/) would be more suitable.

## Useful links:

- [Jupyter notebook](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)
- [The Python Tutorial](https://docs.python.org/3/tutorial/index.html)

## Python as a Calculator


Adding two values:

In [2]:
1+3

4

In [3]:
3-6*9

-51

Assign values to a variable:

In [4]:
a=4
print(a)

4

Get the type of the variable:

In [5]:
type(a)

int

python has also real numbers:

In [6]:
b=4.6+ 8.9
print(b)

13.5

In [7]:
type(b)

float

Use variables in expressions:

In [8]:
c=a*b
print("c=",c)

c= 54.0

Result is float:

In [9]:
print(type(c), type(a), type(b))

<class 'float'> <class 'int'> <class 'float'>

In [10]:
(7+8*6)/3

18.333333333333332

**Warning** '/' returns a float but '//' returns an integer

In [11]:
(7+8*6)//4

13

There are also complex numbers

In [12]:
z=6+3.2j
print("z=",z)

z= (6+3.2j)

Complex numbers can be used like floats:

In [13]:
d=5/z
print(d)

(0.6487889273356401-0.3460207612456747j)

get real and imaginary part of z

In [14]:
print("real & imaginary part =",z.real, z.imag)

real & imaginary part = 6.0 3.2

also the magnitude and the conjugate

In [15]:
print(z, abs(z), z.conjugate())

(6+3.2j) 6.8 (6-3.2j)

Use the `**` operator to calculate powers

In [16]:
print(5**2, a**4, b**a, d**(-1))

25 256 33215.0625 (1.2000000000000002+0.64j)

If a variable is not defined, trying to use it will give you an error:

In [17]:
q

NameError: name 'q' is not defined

# Data Types

## Strings
A string is a sequence of characters and can be expressed using double quotes

In [18]:
s="hello world"
print(s)

hello world

or single quotes

In [19]:
s='hello world'
print(s)

hello world

Strings can be concatenated:

In [20]:
s1="hello"
s2="world"
s1+" "+s2

'hello world'

and repeated

In [21]:
(s1 + " ") * 3

'hello hello hello '

A string has a length which is the number of its characters:

In [22]:
s, len(s)

('hello world', 11)

One can obtain characters at a specific position. Position 0 is the first character.

In [23]:
print(s[0], s[6], s[8])

h w r

Slicing is used to get substring:

In [24]:
s[2:5]

'llo'

** Keep in mind ** The start is always included, and the end always excluded.

Slice indices have useful defaults.
An omitted first index defaults to zero and
an omitted second index defaults to the size of the string being sliced.

In [25]:
s[:2], s[2:]

('he', 'llo world')

The startswith() method returns True if a string starts with the specified prefix(string). If not, it returns False.

In [38]:
s.startswith("world")

False

In [39]:
s.startswith("hello")

True

 The endswith() method returns True if a string ends with the specified suffix. If not, it returns False.

In [27]:
s.endswith("world")

True

In [28]:
s.endswith("earth")

False

upper() method converts all lowercase characters in a string into uppercase characters and returns it.

In [29]:
s.upper()

'HELLO WORLD'

The string lower() method converts all uppercase characters in a string into lowercase characters and returns it.

In [31]:
"John".lower()

'john'

The index() method returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.

In [33]:
s.index("wor")

6

In [52]:
s.index("John")

ValueError: substring not found

The find() method returns the index of first occurrence of the substring (if found). If not found, it returns -1.

In [36]:
s.find("John"), s.find("wor")

(-1, 6)

The replace() method returns a copy of the string where all occurrences of a substring is replaced with another substring.

In [37]:
s.replace("world", "class")

'hello class'

## Lists

A list is a compound data types, used to group together other values. It is  written as a list of comma-separated values (*items*) between square brackets. Lists might contain items of different types.

In [174]:
[1, "two", 3 , 4+1j, "six", [1,2,3]]

[1, 'two', 3, (4+1j), 'six', [1, 2, 3]]

Most of the time the items would be identical:

In [175]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

You can retreave any value from the list:

In [176]:
letters[1]

'b'

and its length

In [177]:
len(letters)

7

Append a new time to the list:

In [178]:
letters.append("h")
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

Lists support operations like concatenation:

In [179]:
letters + [ 'i', 'j']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

and slicing:

In [180]:
letters[1:3]

['b', 'c']

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content: single value:

In [181]:
letters[2]='C'
letters

['a', 'b', 'C', 'd', 'e', 'f', 'g', 'h']

as well as a range:

In [182]:
letters[2:5]=["C", 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g', 'h']

** Note ** In python terminology lists are *mutable* as items in a list can be replaced. Strings are *immutable* as they don't allow this:

In [183]:
ss="abc"
ss[0]="1"

TypeError: 'str' object does not support item assignment

What happens when the slice length and replace have different lengths?

In [184]:
letters[2:5]=['CDE']
letters

['a', 'b', 'CDE', 'f', 'g', 'h']

Does a list contain an item?

In [185]:
'CDE' in letters

True

In [186]:
'cde' in letters

False

Find the position of an item in a list:

In [187]:
letters.index('CDE')

2

Insert a new item at a given position:

In [188]:
letters.insert(3, "new")
letters

['a', 'b', 'CDE', 'new', 'f', 'g', 'h']

and then we remove a specific item:

In [189]:
letters.remove('CDE')
letters

['a', 'b', 'new', 'f', 'g', 'h']

Remove an item at a specific position and return it

In [190]:
letters.pop(2)

'new'

In [191]:
letters

['a', 'b', 'f', 'g', 'h']

Remove the last item in the list and return it

In [192]:
letters.pop()

'h'

In [149]:
letters

['a', 'b', 'g']

In [39]:
numbers = [ 1, 2, 3, 4, 1, 2, 3, 4]

How many ones are in numbers?

In [43]:
numbers.count(1)

2

Reverse the order of the items in a list in place:

In [48]:
numbers.reverse()
numbers

[1, 2, 3, 4, 1, 2, 3, 4]

and sort them by ascending order, also in place:

In [49]:
numbers.sort()
numbers

[1, 1, 2, 2, 3, 3, 4, 4]

We quickly revisit strings:
    
The split() method of strings breaks up a string at the specified separator and returns a list of strings. We can use this to convert a string of numbers separated by for instance commas ',' into list of number:

In [50]:
line="4.6, 8.9, 20".split(',')
line

['4.6', ' 8.9', ' 20']

In [51]:
[ float(line[0]), float(line[1]),  int(line[2]) ]

[4.6, 8.9, 20]

## Tuples

A tuple consists of a number of values separated by commas, for instance:

In [90]:
t = 12345, 54321, 'hello!'
print(t)

(12345, 54321, 'hello!')

tuples of a length (like strings and list)

In [95]:
len(t)

3

Tuples support indexing and slicing:

In [91]:
t[1]

54321

In [93]:
t[0:2]

(12345, 54321)

Tuples are immutable (items in a tuple cannot be changed):

In [97]:
t[1]='hey'

TypeError: 'tuple' object does not support item assignment

Assign multiple values from a tuple (or a list)

In [100]:
a, b, c = 1,2,3
b

2

In [101]:
a, b, c = t
b

54321

## Dictionaries

Another useful data type built into Python is the dictionary. In contrast to a `list` which is 
indexed by a range of numbers, a dictionary is indexed by keys which can be strings and numbers (and others) You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of items in the form of `key`: `value` pairs, with the requirement that the keys are unique within one dictionary. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary. Here we create a dictionary of names and corresponding age:

In [5]:
age = {'Jack':15,'Bob':22,'Alice':12,'Kevin':17}

Accessing  of a an entry:

In [6]:
    age['Alice']

12

Add an entry:

In [9]:
age['Tim']=19
age

{'Alice': 12, 'Bob': 22, 'Jack': 15, 'Kevin': 17, 'Tim': 19}

In [13]:
age['Jane']

KeyError: 'Jane'

Check if a dictionary has a certain key:

In [19]:
"Tim" in age.keys()

True

In [20]:
"Jane" in age.keys()

False

Check if the dictionary has a certain value:

In [25]:
20 in age.values()

False

In [26]:
19 in age.values()

True

You can also check if dictionary contains a certain item:

In [34]:
("Tim", 19) in age.items()

True

In [35]:
("Tim", 20) in age.items()

False

** Note ** A pair of braces creates an empty dictionary {}